<div class="outer-container">
  <div class="container text-black bg-blue-100 dark:bg-slate-800">
    <div class="trigger">
      <div class="phone pink">
        <div class="phone-top"></div>
        <div class="phone-screen">
          <h2>01</h2>
          <p>One App</p>
          <h3>
            Resource <b>Booking</b>
            <span class="dots">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </h3>
          <hr />
          <p>rooms<br />desks<br />lockers<br />parking spaces</p>
        </div>
        <div class="phone-bottom">
          <div class="speakers speakers-left">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <span class="charge"></span>
          <div class="speakers speakers-right">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="trigger">
      <div class="phone blue">
        <div class="phone-top"></div>
        <div class="phone-screen">
          <h2>04</h2>
          <p>One App</p>
          <h3>
            Booking <b>Management</b>
            <span class="dots">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </h3>
          <hr />
          <p>manage all your bookings <br /> from one place</p>
        </div>
        <div class="phone-bottom">
          <div class="speakers speakers-left">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <span class="charge"></span>
          <div class="speakers speakers-right">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="trigger">
      <div class="phone green">
        <div class="phone-top"></div>
        <div class="phone-screen">
          <h2>02</h2>
          <p>One App</p>
          <h3>
            Meeting <b>Productivity</b>
            <span class="dots">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </h3>
          <hr />
          <p>work smarter <br /> optimise staff time</p>
        </div>
        <div class="phone-bottom">
          <div class="speakers speakers-left">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <span class="charge"></span>
          <div class="speakers speakers-right">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="trigger">
      <div class="phone yellow">
        <div class="phone-top"></div>
        <div class="phone-screen">
          <h2>03</h2>
          <p>One App</p>
          <h3>
            Digital <b>Services</b>
            <span class="dots">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </h3>
          <hr />
          <p>refresh your <br /> mobile app showcase</p>
        </div>
        <div class="phone-bottom">
          <div class="speakers speakers-left">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <span class="charge"></span>
          <div class="speakers speakers-right">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="trigger">
      <div class="phone purple">
        <div class="phone-top"></div>
        <div class="phone-screen">
          <h2>05</h2>
          <p>One App</p>
          <h3>
            Smart <b>Analytics</b>
            <span class="dots">
              <span></span><span></span><span></span>
            </span>
          </h3>
          <hr />
          <p>insights<br />reports<br />trends<br />data</p>
        </div>
        <div class="phone-bottom">
          <div class="speakers speakers-left">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
          </div>
          <span class="charge"></span>
          <div class="speakers speakers-right">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="trigger">
      <div class="phone orange">
        <div class="phone-top"></div>
        <div class="phone-screen">
          <h2>06</h2>
          <p>One App</p>
          <h3>
            Team <b>Collaboration</b>
            <span class="dots">
              <span></span><span></span><span></span>
            </span>
          </h3>
          <hr />
          <p>chat<br />share<br />connect<br />collaborate</p>
        </div>
        <div class="phone-bottom">
          <div class="speakers speakers-left">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
          </div>
          <span class="charge"></span>
          <div class="speakers speakers-right">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="trigger">
      <div class="phone teal">
        <div class="phone-top"></div>
        <div class="phone-screen">
          <h2>07</h2>
          <p>One App</p>
          <h3>
            Resource <b>Tracking</b>
            <span class="dots">
              <span></span><span></span><span></span>
            </span>
          </h3>
          <hr />
          <p>monitor<br />track<br />optimize<br />manage</p>
        </div>
        <div class="phone-bottom">
          <div class="speakers speakers-left">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
          </div>
          <span class="charge"></span>
          <div class="speakers speakers-right">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
          </div>
        </div>
      </div>
    </div>
    <div class="trigger">
      <div class="phone red">
        <div class="phone-top"></div>
        <div class="phone-screen">
          <h2>08</h2>
          <p>One App</p>
          <h3>
            Security <b>Control</b>
            <span class="dots">
              <span></span><span></span><span></span>
            </span>
          </h3>
          <hr />
          <p>access<br />protect<br />secure<br />monitor</p>
        </div>
        <div class="phone-bottom">
          <div class="speakers speakers-left">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
          </div>
          <span class="charge"></span>
          <div class="speakers speakers-right">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import anime from 'animejs/lib/anime.es.js';
  anime({
    targets: '.container',
    scale: [0.8, 1],
    easing: 'easeInOutQuad',
    duration: 800,
  });
  document.addEventListener('DOMContentLoaded', () => {
    const container = document.querySelector('.outer-container');
    if (!container) return;

    const checkIfClipped = () => {
      const rect = container.getBoundingClientRect();
      if (rect.top < 0) {
        console.log('Container top is clipped', rect.top);
      }
    };

    // Check on scroll
    window.addEventListener('scroll', checkIfClipped, { passive: true });

    // Initial check
    checkIfClipped();
  });
</script>

<style>
  .outer-container {
    width: 100%;
    margin-top: -160px;
    padding-left:80px;
    overflow: hidden;
  }

  .container {
    width: 100%;
    pointer-events: none;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    transform: scale(0.8);
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0 auto;
    border-radius: 30px;
    scale: 0.8;
  }

  .trigger {
    transform: rotateY(15deg) rotateX(55deg) rotateZ(-30deg);
    margin: 25px;
    pointer-events: all;
  }

  .phone {
    position: relative;
    border-radius: 25px;
    height: 500px;
    width: 280px;
    margin-top: -270px;
    margin-left: 20px;
    box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.4);
    transition: 0.5s ease-in-out;
    transform: translateX(50px) translateY(50px);
  }

  .trigger:hover .phone {
    transform: translate(100px, -10px) scale(1.1);
    box-shadow: -120px 120px 150px rgba(0, 0, 0, 0.3);
  }

  .phone-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 25px 25px 0 0;
  }

  .phone-top::after {
    content: '';
    height: 5px;
    width: 35px;
    border-radius: 20px;
  }

  .phone-screen {
    background: #f1f1f1;
    padding: 40px 40px 10px;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    box-shadow:
      -1px 1px 0px #bcbcbc,
      -2px 2px 0px #bcbcbc,
      -3px 3px 0px #bcbcbc,
      -4px 4px 0px #bcbcbc,
      -5px 5px 0px #bcbcbc,
      -6px 6px 0px #bcbcbc,
      -7px 7px 0px #bcbcbc,
      -8px 8px 0px #bcbcbc;
  }

  .phone-screen h2 {
    font-weight: 100;
    font-size: 80px;
  }

  .phone-screen p {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .phone-screen h3 {
    font-weight: 300;
    font-size: 30px;
    line-height: 1;
  }

  .phone-screen h3 b {
    font-weight: 500;
  }

  .dots {
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
  }

  .dots span {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: red;
    display: inline-block;
  }

  .dots span:nth-child(1) {
    background: #ffae00;
  }

  .dots span:nth-child(2) {
    background: #ff8800;
  }

  .dots span:nth-child(3) {
    background: #fa3b5b;
  }

  .phone-screen hr {
    width: 30%;
    background: linear-gradient(to right, #ffae00, #fa3b5b);
    border: none;
    height: 1px;
    margin: 20px 0;
  }

  .designer {
    margin-top: 30px;
    font-size: 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .designer span {
    padding: 10px 0 0;
  }

  .designer img {
    width: 25px;
    height: 30px;
    margin-right: 10px;
  }

  .phone-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 25px 25px;
  }

  .phone-bottom::after {
    content: '';
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .speakers {
    display: flex;
    position: absolute;
  }

  .speakers-left {
    bottom: -6px;
    left: 45px;
  }

  .speakers-right {
    bottom: -6px;
    right: 45px;
  }

  .speakers span {
    height: 4px;
    width: 4px;
    margin: 0 1px;
    border-radius: 50%;
    transform: skewX(-40deg);
  }

  .charge {
    position: absolute;
    bottom: -6px;
    left: 125px;
    height: 4px;
    width: 30px;
    border-radius: 5px;
    transform: skewX(-40deg);
  }

  .pink .phone-top {
    background: linear-gradient(to right, #e9a2b4, #f0d9df);
    box-shadow:
      -1px 1px 0px #b68490,
      -2px 2px 0px #b68490,
      -3px 3px 0px #b68490,
      -4px 4px 0px #b68490,
      -5px 5px 0px #b68490,
      -6px 6px 0px #b68490,
      -7px 7px 0px #b68490,
      -8px 8px 0px #b68490;
  }

  .pink .phone-top::after {
    background: #e888a3;
  }

  .pink .phone-bottom {
    background: linear-gradient(to right, #edc7d2, #ffe8ef);
    box-shadow:
      -1px 1px 0px #d4afb7,
      -2px 2px 0px #d4afb7,
      -3px 3px 0px #d4afb7,
      -4px 4px 0px #d4afb7,
      -5px 5px 0px #d4afb7,
      -6px 6px 0px #d4afb7,
      -7px 7px 0px #d4afb7,
      -8px 8px 0px #d4afb7;
  }

  .pink .phone-bottom::after {
    background: #ecbdcd;
  }

  .pink .speakers span,
  .pink .charge {
    background: linear-gradient(to top, #c58c9d, #dd9db0);
  }

  .blue .phone-top {
    background: linear-gradient(to right, #69c1c5, #a2dfe2);
    box-shadow:
      -1px 1px 0px #539b98,
      -2px 2px 0px #539b98,
      -3px 3px 0px #539b98,
      -4px 4px 0px #539b98,
      -5px 5px 0px #539b98,
      -6px 6px 0px #539b98,
      -7px 7px 0px #539b98,
      -8px 8px 0px #539b98;
  }

  .blue .phone-top::after {
    background: #39afb3;
  }

  .blue .phone-bottom {
    background: linear-gradient(to right, #97d8da, #bff0f1);
    box-shadow:
      -1px 1px 0px #73bfbd,
      -2px 2px 0px #73bfbd,
      -3px 3px 0px #73bfbd,
      -4px 4px 0px #73bfbd,
      -5px 5px 0px #73bfbd,
      -6px 6px 0px #73bfbd,
      -7px 7px 0px #73bfbd,
      -8px 8px 0px #73bfbd;
  }

  .blue .phone-bottom::after {
    background: #5bd5d8;
  }

  .blue .speakers span,
  .blue .charge {
    background: linear-gradient(to top, #4ab6b6, #51c2c2);
  }

  .green .phone-top {
    background: linear-gradient(to right, #5fcfb7, #95e9d7);
    box-shadow:
      -1px 1px 0px #2d8269,
      -2px 2px 0px #2d8269,
      -3px 3px 0px #2d8269,
      -4px 4px 0px #2d8269,
      -5px 5px 0px #2d8269,
      -6px 6px 0px #2d8269,
      -7px 7px 0px #2d8269,
      -8px 8px 0px #2d8269;
  }

  .green .phone-top::after {
    background: #2cb18b;
  }

  .green .phone-bottom {
    background: linear-gradient(to right, #87dcc9, #aaeee4);
    box-shadow:
      -1px 1px 0px #67bfb1,
      -2px 2px 0px #67bfb1,
      -3px 3px 0px #67bfb1,
      -4px 4px 0px #67bfb1,
      -5px 5px 0px #67bfb1,
      -6px 6px 0px #67bfb1,
      -7px 7px 0px #67bfb1,
      -8px 8px 0px #67bfb1;
  }

  .green .phone-bottom::after {
    background: #56d9c9;
  }

  .green .speakers span,
  .green .charge {
    background: linear-gradient(to top, #41b18f, #53c5a3);
  }

  .yellow .phone-top {
    background: linear-gradient(to right, #f0db55, #eee39a);
    box-shadow:
      -1px 1px 0px #aa9633,
      -2px 2px 0px #aa9633,
      -3px 3px 0px #aa9633,
      -4px 4px 0px #aa9633,
      -5px 5px 0px #aa9633,
      -6px 6px 0px #aa9633,
      -7px 7px 0px #aa9633,
      -8px 8px 0px #aa9633;
  }

  .yellow .phone-top::after {
    background: #e6ba33;
  }

  .yellow .phone-bottom {
    background: linear-gradient(to right, #efde84, #f1ebb0);
    box-shadow:
      -1px 1px 0px #cfc35f,
      -2px 2px 0px #cfc35f,
      -3px 3px 0px #cfc35f,
      -4px 4px 0px #cfc35f,
      -5px 5px 0px #cfc35f,
      -6px 6px 0px #cfc35f,
      -7px 7px 0px #cfc35f,
      -8px 8px 0px #cfc35f;
  }

  .yellow .phone-bottom::after {
    background: #ecdd50;
  }

  .yellow .speakers span,
  .yellow .charge {
    background: linear-gradient(to top, #b6af27, #d3cb31);
  }

  .purple .phone-screen {
    background: #ffffff;
  }

  .purple .phone-top {
    background: linear-gradient(to right, #b19cd9, #d4c4e9);
    box-shadow:
      -1px 1px 0px #9a86c4,
      -2px 2px 0px #9a86c4,
      -3px 3px 0px #9a86c4,
      -4px 4px 0px #9a86c4,
      -5px 5px 0px #9a86c4,
      -6px 6px 0px #9a86c4,
      -7px 7px 0px #9a86c4,
      -8px 8px 0px #9a86c4;
  }

  .purple .phone-top::after {
    background: #a28dd0;
  }

  .purple .phone-bottom {
    background: linear-gradient(to right, #b19cd9, #d4c4e9);
    box-shadow:
      -1px 1px 0px #9a86c4,
      -2px 2px 0px #9a86c4,
      -3px 3px 0px #9a86c4,
      -4px 4px 0px #9a86c4,
      -5px 5px 0px #9a86c4,
      -6px 6px 0px #9a86c4,
      -7px 7px 0px #9a86c4,
      -8px 8px 0px #9a86c4;
  }

  .purple .phone-bottom::after {
    background: #af99dd;
  }

  .purple .speakers span,
  .purple .charge {
    background: linear-gradient(to top, #9a86c4, #b19cd9);
  }

  .orange .phone-screen {
    background: #ffffff;
  }

  .orange .phone-top {
    background: linear-gradient(to right, #ffb74d, #ffd699);
    box-shadow:
      -1px 1px 0px #ff9800,
      -2px 2px 0px #ff9800,
      -3px 3px 0px #ff9800,
      -4px 4px 0px #ff9800,
      -5px 5px 0px #ff9800,
      -6px 6px 0px #ff9800,
      -7px 7px 0px #ff9800,
      -8px 8px 0px #ff9800;
  }

  .orange .phone-top::after {
    background: #ffa726;
  }

  .orange .phone-bottom {
    background: linear-gradient(to right, #ffb74d, #ffd699);
    box-shadow:
      -1px 1px 0px #ff9800,
      -2px 2px 0px #ff9800,
      -3px 3px 0px #ff9800,
      -4px 4px 0px #ff9800,
      -5px 5px 0px #ff9800,
      -6px 6px 0px #ff9800,
      -7px 7px 0px #ff9800,
      -8px 8px 0px #ff9800;
  }

  .orange .phone-bottom::after {
    background: #fab54e;
  }

  .orange .speakers span,
  .orange .charge {
    background: linear-gradient(to top, #ff9800, #ffb74d);
  }

  .teal .phone-screen {
    background: #ffffff;
  }

  .teal .phone-top {
    background: linear-gradient(to right, #4db6ac, #80cbc4);
    box-shadow:
      -1px 1px 0px #00897b,
      -2px 2px 0px #00897b,
      -3px 3px 0px #00897b,
      -4px 4px 0px #00897b,
      -5px 5px 0px #00897b,
      -6px 6px 0px #00897b,
      -7px 7px 0px #00897b,
      -8px 8px 0px #00897b;
  }

  .teal .phone-top::after {
    background: #26a69a;
  }

  .teal .phone-bottom {
    background: linear-gradient(to right, #4db6ac, #80cbc4);
    box-shadow:
      -1px 1px 0px #00897b,
      -2px 2px 0px #00897b,
      -3px 3px 0px #00897b,
      -4px 4px 0px #00897b,
      -5px 5px 0px #00897b,
      -6px 6px 0px #00897b,
      -7px 7px 0px #00897b,
      -8px 8px 0px #00897b;
  }

  .teal .phone-bottom::after {
    background: #4db6ac;
  }

  .teal .speakers span,
  .teal .charge {
    background: linear-gradient(to top, #00897b, #4db6ac);
  }

  .red .phone-screen {
    background: #ffffff;
  }

  .red .phone-top {
    background: linear-gradient(to right, #ef5350, #ff8a80);
    box-shadow:
      -1px 1px 0px #e53935,
      -2px 2px 0px #e53935,
      -3px 3px 0px #e53935,
      -4px 4px 0px #e53935,
      -5px 5px 0px #e53935,
      -6px 6px 0px #e53935,
      -7px 7px 0px #e53935,
      -8px 8px 0px #e53935;
  }

  .red .phone-top::after {
    background: #ef5350;
  }

  .red .phone-bottom {
    background: linear-gradient(to right, #ef5350, #ff8a80);
    box-shadow:
      -1px 1px 0px #e53935,
      -2px 2px 0px #e53935,
      -3px 3px 0px #e53935,
      -4px 4px 0px #e53935,
      -5px 5px 0px #e53935,
      -6px 6px 0px #e53935,
      -7px 7px 0px #e53935,
      -8px 8px 0px #e53935;
  }

  .red .phone-bottom::after {
    background: #ff8a80;
  }

  .red .speakers span,
  .red .charge {
    background: linear-gradient(to top, #e53935, #ef5350);
  }
</style>
