---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactForm from '~/components/widgets/ContactForm.astro';
import Calendly from '~/components/widgets/Calendly.astro';
// import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>

  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />
  <p class="text-center" style="margin-top:-30px">More than 60 resellers globally offering you a local service.</p>

  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <div class="grid lg:grid-cols-2 gap-0">
      <div class="w-full">
        <h2 class="text-2xl font-bold mb-4 text-center">Book a Demo</h2>
        <p class=" text-center">Schedule a demo or a call and we'll be happy to chat.</p>
        <Calendly />
      </div>
      <div class="w-full">
        <h2 class="text-2xl font-bold mb-4 text-center">Get in Touch</h2>
        <p class="text-center">Fill out the form below and we'll get back to you shortly.</p>
        <ContactForm />
      </div>
    </div>
  </div>
</Layout>
