---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import PhoneScreens from '~/components/widgets/PhoneScreens.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Customers from '~/components/widgets/Customers.astro';
import homeBackground from '~/assets/images/bg/home-bg.jpg';
import bookingBackground from '~/assets/images/bg/booking-bg.jpg';

const metadata = {
  title: 'New Wave Workspace — The Super App for Hybrid Work',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Book a Demo',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:calendar',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Get ready, our
      <span
        class="bg-gradient-to-r from-blue-600 via-pink-500 to-indigo-600 inline-block text-transparent bg-clip-text selection:text-primary"
        >One App</span
      >
      is about to transform your hybrid work forever.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">New Wave Workspace One App</span>&trade; simplifies hybrid work by bringing all your
      essential tools, services and connections into one seamless workspace platform.
    </Fragment>
  </Hero>

  <PhoneScreens />

  <!-- <Iphone item={{ img: "/images/yellow.jpg", color: ["#007AFF"] }} /> -->

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with New Wave Workspace"
    subtitle="Say goodbye to multiple apps, logins and administration. New Wave Workspace is a single app that brings everything you need to manage your hybrid work experience."
    items={[
      {
        title: 'Resource Booking',
        description:
          'Streamline your workplace with intelligent scheduling and management. From effortless meeting planning to dynamic desk, locker and parking.',
        icon: 'tabler:calendar',
      },
      {
        title: 'Visitor Management',
        description:
          'Deliver a premium visitor experience with end-to-end digital workflows. From pre-registration to real-time tracking.',
        icon: 'tabler:users',
      },
      {
        title: 'ESG',
        description:
          'Achieve sustainability certifications, comply with regulatory requirements, all while enhancing workplace satisfaction, productivity, and corporate reputation.',
        icon: 'tabler:leaf',
      },
      {
        title: 'Digital Services',
        description:
          'Digitise manual processes from fire inspections to mental health surveys. Empower your team to focus on what matters most leaving the busywork to us.',
        icon: 'tabler:automation',
      },
      {
        title: 'Ticket Tracker',
        description:
          'Streamline work order management with our intuitive Ticket Tracker. Capture, track, and resolve requests effortlessly while keeping everyone in the loop.',
        icon: 'tabler:ticket',
      },
      {
        title: 'Smart Analytics',
        description:
          'Bring together human data, IoT insights, and Microsoft&reg; Graph to create an ecosystem of actionable intelligence.',
        icon: 'tabler:chart-histogram',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline=""
    title="Why just One App?"
    subtitle="With so many hybrid work mini-apps, people no longer want to use or install them on their personal devices."
    items={[
      {
        title: 'One App: to learn and use',
        description:
          "People engage more effectively with only One App to login and use. If they don't want to install apps on their personal devices, no problem, they can simply use a web browser.",
      },
      {
        title: 'One App: for insights',
        description:
          'Insights and analytics all aggregated in one place, no matter what features and integrations you choose.',
      },
      {
        title: 'One App: to manage',
        description:
          'Simplify procurement and management and save time and effort. Benefit from a more robust, unified system. Stop dealing with multiple suppliers and focus on what matters most.',
      },
    ]}
    image={{
      src: homeBackground,
      alt: 'One App',
    }}
    iphone={{
      img: 'images/screens/home.jpg',
      color: ['#000000'],
      enableOrbitControls: true,
      enableAutoRotation: true,
      start: { x: 9.17, y: -13.1, z: 12 },
      end: { x: -9, y: 13, z: 8 }
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2 one-app-advantage">The One App Advantage</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="resource-booking"
    isAfterContent
    title="Resource Booking"
    items={[
      {
        title: 'Intelligent Meeting Room Scheduling',
        description: `Simplify meeting planning by aligning organizers', attendees', and Office 365 meeting room calendar availability in one intuitive view.`,
      },
      {
        title: 'Find People Easily',
        description:
          'Bring teams together and collaborate more effectively by ensuring colleagues are in the office when you need them.',
      },
      {
        title: 'Desk Booking with Workplace Rules',
        description:
          'Foster better collaboration with workplace rules that ensure employees always find the best desk to suit their tasks.',
      },
      {
        title: 'Book Smart Lockers and Parking',
        description:
          'Ensure your visitors have a safe and secure experience, with smart lockers and parking options to meet your needs.',
      },
    ]}
    image={{
      src: bookingBackground,
      alt: 'Resource Booking',
    }}
    iphone={{
      img: 'images/screens/mini_scheduler.jpg',
      color: ['#000000'],
      enableOrbitControls: true,
      enableAutoRotation: true,
      timeline: {
        scrollTrigger: {
          trigger: '#resource-booking',
          start: 'top center',
          end: 'bottom top',
          scrub: false,
          markers: false,
          resetOnLeave: true,
        },
        keyframes: [
          {
            from: {
              position: { x: 90, y: 90, z: 0 },
            },
            to: {
              position: { x: 0, y: 0, z: 10 },
            },
            duration: 1.5,
          },
          {
            from: {
              position: { x: 0, y: 0, z: 10 },
            },
            to: {
              position: { x: 0, y: 0, z: 5 },
              rotation: { x: Math.PI * 0.25, y: Math.PI * 0.1, z: 0 },
            },
            duration: 1.5,
          },
        ],
      },
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="visitor-management"
    isReversed
    isAfterContent
    title="Visitor Management"
    subtitle="Deliver a premium visitor experience with end-to-end digital workflows. From pre-registration to real-time tracking, keep your building secure and welcoming. Know who’s in your building past, present, and future."
    items={[
      {
        title: 'Effortless Invitations',
        description: 'Hosts can invite visitors through an intuitive interface by simply entering their details.',
      },
      {
        title: 'Seamless Check-In Experience',
        description:
          'Visitors enjoy a frictionless, receptionist-less check-in process. Using a self-service kiosk, QR code, or pre-sent digital pass.',
      },
      {
        title: 'Real-Time Notifications',
        description:
          'Hosts are instantly notified when visitors check in. Additional stakeholders, such as security personnel or meeting co-hosts can also be alerted, ensuring the visitor is guided and attended to promptly.',
      },
      {
        title: 'Emergency and Departure Management',
        description: `In emergencies, the system supports quick headcounts and instant communication with visitors for safety protocols. When visitors leave, the check-out process ensures accurate tracking of their time on-site.`,
      },
    ]}
    image={{
      src: homeBackground,
      alt: 'Astronauts Image',
    }}
    iphone={{
      img: 'images/screens/vms_register.jpg',
      color: ['#000000'],
      enableOrbitControls: true,
      enableAutoRotation: true,
      timeline: {
        scrollTrigger: {
          trigger: '#visitor-management',
          start: 'top center',
          end: 'bottom top',
          scrub: false,
          markers: false,
          resetOnLeave: true,
        },
        keyframes: [
          {
            from: {
              position: { x: 90, y: 90, z: 4 },
            },
            to: {
              position: { x: 0, y: 0, z: 10 },
            },
            duration: 1.5,
          },
          {
            from: {
              position: { x: 0, y: 0, z: 10 },
            },
            to: {
              position: { x: -3, y: -2, z: 9 },
              rotation: { x: Math.PI * 0.25, y: Math.PI * 0.1, z: 0 },
            },
            duration: 1.5,
          },
        ],
      },
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    title="Digital Services"
    subtitle="Replace fragmented systems with a single, cohesive platform"
    items={[
      {
        title: 'Digital Services Catalogue',
        description:
          'Digitize manual processes, from fire inspections to mental health surveys, transform every routine into a streamlined digital flow.',
      },
      {
        title: 'Mail Room Management',
        description:
          'Track, notify, and manage incoming and outgoing parcels with ease. Automated updates ensure faster collections and a better experience.',
      },
      {
        title: 'Reimbursements',
        description:
          'Automate your reimbursement workflow. Track expenses, ensure compliance, and get approvals in record time.',
      },
      {
        title: 'Travel Requests and Timesheets',
        description:
          'Streamline time management and travel planning with a built-in authorization workflow.',
      },
    ]}
    image={{
      src: bookingBackground,
      alt: 'Astronauts Image',
    }}
        iphone={{
          img: 'images/screens/service_catalogue.jpg',
          color: ['#000000'],
          enableOrbitControls: true,
          enableAutoRotation: true,
          start: { x: 9.17, y: -13.1, z: 12 },
          end: { x: -9, y: 13, z: 8 },
        }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your dream hybrid workspace experience up and running in no time with New Wave Workspace."
    items={[
      {
        title:
          'Step 1: <span class="font-medium"><a class="text-primary hover:text-primary" href="/contact">Book a Demo</a></span>',
        description:
          "Seeing is believing. Book a demo now and experience the magic for yourself. We'll show you how New Wave Workspace can transform your hybrid work experience, from the basics to advanced features.",
        icon: 'tabler:presentation',
      },
      {
        title: 'Step 2: <span class="font-medium">Preparation</span>',
        description: 'We work closely with your procurement and security teams to ensure a smooth transition.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Step 3: <span class="font-medium">Onboarding</span>',
        description: "We'll onboard your digital twin based on your needs. All part of our concierge service.",
        icon: 'tabler:transfer-in',
      },
      {
        title: "You're all set!",
        description:
          'Start using New Wave Workspace to revolutionise your hybrid work experience with ease, with us as your partner to help when you need us.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Customers Widget **************** -->

  <Customers
    title="Trusted by industry leaders"
    subtitle="Join financial institutions, legal firms, educational institutions and corporations around the globe."
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Read our latest workspace blog posts"
    information={`Your go-to source for the latest insights, trends and innovations shaping the workspace industry.
      From expert tips and interviews to in-depth analysis of emerging technologies, we aim to inspire and inform leaders
      navigating today’s dynamic workplace landscape.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that New Wave Workspace offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why New Wave Workspace?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Bookings', amount: '360.5K' },
      { title: 'Activities', amount: '371.2K' },
      // { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '5.8K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book a Demo',
        href: '/contact',
        icon: 'tabler:calendar',
      },
    ]}
  >
    <Fragment slot="title"> New Wave Workspace </Fragment>

    <Fragment slot="subtitle">
      Find out how New Wave Workspace can transform your hybrid work experience today.
    </Fragment>
  </CallToAction>
</Layout>
