---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import PhoneScreens from '~/components/widgets/PhoneScreens.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';
// import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Customers from '~/components/widgets/Customers.astro';
import homeBackground from '~/assets/images/bg/home-bg.jpg';
import bookingBackground from '~/assets/images/bg/booking-bg.jpg';

const metadata = {
  title: 'New Wave Workspace — The Super App for Hybrid Work',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Book a Demo',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:calendar',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Get ready, our
      <span
        class="bg-gradient-to-r from-blue-600 via-pink-500 to-indigo-600 inline-block text-transparent bg-clip-text selection:text-primary"
        >One App</span
      >
      is about to transform your hybrid work forever.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">New Wave Workspace One App</span>&trade; simplifies hybrid work by bringing all your
      essential tools, services and connections into one seamless workspace platform.
    </Fragment>
  </Hero>

  <PhoneScreens />

  <!-- <Iphone item={{ img: "/images/yellow.jpg", color: ["#007AFF"] }} /> -->

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="What you get with New Wave Workspace"
    subtitle="Say goodbye to multiple apps, logins and administration. New Wave Workspace is a single app that brings everything you need to manage your hybrid work experience."
    items={[
      {
        title: 'Resource Booking',
        description:
          'Streamline your workplace with intelligent scheduling and management. From effortless meeting planning to dynamic desk, locker and parking.',
        icon: 'tabler:calendar',
        link:'/features/resource-booking'
      },
      {
        title: 'Visitor Management',
        description:
          'Deliver a premium visitor experience with end-to-end digital workflows. From pre-registration to real-time tracking.',
        icon: 'tabler:users',
        link:'/features/visitor-management'
      },
      {
        title: 'ESG',
        description:
          'Achieve sustainability certifications, comply with regulatory requirements, all while enhancing workplace satisfaction, productivity, and corporate reputation.',
        icon: 'tabler:leaf',
        link:'/features/esg'
      },
      {
        title: 'Digital Services',
        description:
          'Digitise manual processes from fire inspections to employee welness surveys. Empower your team to focus on what matters most leaving the busywork to us.',
        icon: 'tabler:automation',
        link:'/features/digital-services'
      },
      {
        title: 'Ticket Tracker',
        description:
          'Streamline work order management with our intuitive Ticket Tracker. Capture, track, and resolve requests effortlessly while keeping everyone in the loop.',
        icon: 'tabler:ticket',
        link:'/features/ticket-tracker'
      },
      {
        title: 'Smart Analytics',
        description:
          'Bring together human data, IoT insights, and Microsoft&reg; Graph to create an ecosystem of actionable intelligence.',
        icon: 'tabler:chart-histogram',
        link:'/features/smart-analytics'
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline=""
    title="Why just One App?"
    subtitle="With so many hybrid work mini-apps, people no longer want to use or install them on their personal devices."
    items={[
      {
        title: 'One App: to learn and use',
        description:
          "People engage more effectively with only One App to login and use. If they don't want to install apps on their personal devices, no problem, they can simply use a web browser.",
      },
      {
        title: 'One App: for insights',
        description:
          'Insights and analytics all aggregated in one place, no matter what features and integrations you choose.',
      },
      {
        title: 'One App: to manage',
        description:
          'Simplify procurement and management and save time and effort. Benefit from a more robust, unified system. Stop dealing with multiple suppliers and focus on what matters most.',
      },
    ]}
    image={{
      src: homeBackground,
      alt: 'One App',
    }}
    iphone={{
      img: 'images/screens/home.jpg',
      color: ['#000000'],
      enableOrbitControls: false,
      enableAutoRotation: false,
      start: { x: 9.17, y: -13.1, z: 12 },
      end: { x: -9, y: 13, z: 8 }
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2 one-app-advantage">The One App Advantage</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="resource-booking"
    isAfterContent
    title="Resource Booking"
    subtitle="Our smart scheduling solution streamlines meeting and resource booking while enabling workplace flexibility and collaboration through customizable policies and colleague location features. <a class='more-link text-primary' href='/features/resource-booking'>Learn&nbsp;more</a>"

    items={[
      {
        title: 'Intelligent Meeting Room Scheduling',
        description: `Simplify meeting planning by aligning organizers', attendees', and Office 365 meeting room calendar availability in one intuitive view using our Scheduling Assistant.`,
      },
      {
        title: 'Desks, Smart Lockers and Parking',
        description:
          'Quickly find and book preferred resources and workplace amenities before commuting into the office.  Book it your way... via an intelligent Quick Book button, or a list view of available resources, or directly from an interactive 3D Floor Plan.',
      },
      {
        title: 'Flexible Workplace Policies',
        description:
          'We provide more than 50 configurable workplace policies needed for today\'s modern work models, at any stage of maturity.  <br><br>Booking quotas, restricted neighborhoods, max book ahead days, no-show auto cancel, early check in, and max booking extension are but a small sample of what\'s possible.  <br><br>Have a custom requirement?  Contact us to discuss your specific use cases. We can custom build and apply it intelligently at any step in the booking workflow.',
      },
      {
        title: 'Find Colleagues',
        description:
          'Easily locate where your colleagues are sitting, making it simple to collaborate near teammates; enabling agility, enhancing productivity and fostering a more connected workplace.  <br><br>Enhance Workplace Safety & Compliance by easily locating people with specific job titles or roles, such as Floor Wardens, MHFAs or First Aid Responders.',
      },
    ]}
    image={{
      src: bookingBackground,
      alt: 'Resource Booking',
    }}
    iphone={{
      img: 'images/screens/mini_scheduler.jpg',
      color: ['#000000'],
      enableOrbitControls: false,
      enableAutoRotation: false,
      timeline: {
        scrollTrigger: {
          trigger: '#resource-booking',
          start: 'top center',
          end: 'bottom top',
          scrub: false,
          markers: false,
          resetOnLeave: true,
        },
        keyframes: [
          {
            from: {
              position: { x: 90, y: 90, z: 0 },
            },
            to: {
              position: { x: 0, y: 0, z: 10 },
            },
            duration: 1.5,
          },
          {
            from: {
              position: { x: 0, y: 0, z: 10 },
            },
            to: {
              position: { x: 0, y: 0, z: 5 },
              rotation: { x: Math.PI * 0.25, y: Math.PI * 0.1, z: 0 },
            },
            duration: 1.5,
          },
        ],
      },
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    id="visitor-management"
    isReversed
    isAfterContent
    title="Visitor Management"
    subtitle="Deliver a premium visitor experience with end-to-end digital workflows. From pre-registration to real-time tracking, keep your building secure and welcoming. Know who’s in your building past, present, and future. <a class='more-link text-primary' href='/features/visitor-management'>Learn&nbsp;more</a>"
    items={[
      {
        title: 'Effortless Invitations',
        description: 'Hosts can invite visitors through an intuitive interface by simply entering their details.',
      },
      {
        title: 'Seamless Check-In Experience',
        description:
          'Visitors enjoy a frictionless, receptionist-less check-in process. Using a self-service kiosk, QR code, or pre-sent digital pass.',
      },
      {
        title: 'Real-Time Notifications',
        description:
          'Hosts are immediately notified on visitor check in. Additional stakeholders, such as security personnel or meeting co-hosts can also be notified, ensuring the visitor is guided and attended to promptly.',
      },
      {
        title: 'Emergency and Departure Management',
        description: `In emergencies, the system supports quick headcounts and instant communication with visitors for safety protocols. When visitors leave, the check-out process ensures accurate tracking of their time on-site.`,
      },
    ]}
    image={{
      src: homeBackground,
      alt: 'Astronauts Image',
    }}
    iphone={{
      img: 'images/screens/vms_register.jpg',
      color: ['#000000'],
      enableOrbitControls: false,
      enableAutoRotation: false,
      timeline: {
        scrollTrigger: {
          trigger: '#visitor-management',
          start: 'top center',
          end: 'bottom top',
          scrub: false,
          markers: false,
          resetOnLeave: true,
        },
        keyframes: [
          {
            from: {
              position: { x: 90, y: 90, z: 4 },
            },
            to: {
              position: { x: 0, y: 0, z: 10 },
            },
            duration: 1.5,
          },
          {
            from: {
              position: { x: 0, y: 0, z: 10 },
            },
            to: {
              position: { x: -3, y: -2, z: 9 },
              rotation: { x: Math.PI * 0.25, y: Math.PI * 0.1, z: 0 },
            },
            duration: 1.5,
          },
        ],
      },
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    title="Digital Services"
    subtitle="Replace fragmented systems with a single, cohesive platform, designed to foster growth and success. <a class='more-link text-primary' href='/features/digital-services'>Learn&nbsp;more</a>"
    items={[
      {
        title: 'Digital Services Catalogue',
        description:
          'From fire inspections to employee wellness surveys; transform every business process and routine activity into a streamlined digital flow.',
      },
      {
        title: 'Mail Room Management',
        description:
          'Track, notify, and manage incoming and outgoing parcels with ease. Automated updates ensure faster collections and a better experience.',
      },
      {
        title: 'Reimbursements',
        description:
          'Automate your reimbursement workflow. Track expenses, ensure compliance, and get approvals in record time.',
      },
      {
        title: 'Travel Requests and Time Sheets',
        description:
          'Streamline time management and travel planning with a built-in authorization workflow.',
      },
    ]}
    image={{
      src: bookingBackground,
      alt: 'Astronauts Image',
    }}
        iphone={{
          img: 'images/screens/service_catalogue.jpg',
          color: ['#000000'],
          enableOrbitControls: false,
          enableAutoRotation: false,
          start: { x: 9.17, y: -13.1, z: 12 },
          end: { x: -9, y: 13, z: 8 },
        }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your modern workspace experience up and running in no time with New Wave Workspace."
    items={[
      {
        title:
          'Step 1: <span class="font-medium"><a class="text-primary more-link" href="/contact">Book a Demo</a></span>',
        description:
          "Seeing is believing. Book a demo now and experience the ultimiate workplace platform for yourself. We'll show you how New Wave Workspace can transform your hybrid work experience, from the basics to advanced features.",
        icon: 'tabler:presentation',
      },
      {
        title: 'Step 2: <span class="font-medium">Preparation</span>',
        description: 'We work closely with your procurement and security teams to ensure a smooth transition.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Step 3: <span class="font-medium">Onboarding</span>',
        description: "We'll onboard your floor plan into an interactive 3D digital twin, based on your needs. All part of our concierge service.",
        icon: 'tabler:transfer-in',
      },
      {
        title: "You're all set!",
        description:
          'Start using New Wave Workspace to revolutionise your hybrid work experience with ease, with us as your partner to help when you need us.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
    classes={{
      imageContainer: 'hidden md:block'
    }}
  />

  <!-- Customers Widget **************** -->

  <Customers
    title="Trusted by industry leaders"
    subtitle="Join financial institutions, legal firms, educational institutions and corporations around the globe."
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Read our latest workspace blog posts"
    information={`Your go-to source for the latest insights, trends and innovations shaping the workspace industry.
      From expert tips and interviews to in-depth analysis of emerging technologies, we aim to inspire and inform leaders
      navigating today’s dynamic workplace landscape.
                `}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Book a Demo',
        href: '/contact',
        icon: 'tabler:calendar',
      },
    ]}
  >
    <Fragment slot="title"> New Wave Workspace </Fragment>

    <Fragment slot="subtitle">
      Find out how New Wave Workspace can transform your hybrid work experience today.
    </Fragment>
  </CallToAction>
</Layout>
